<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <title>Member System</title>
</head>
<body>
    <div class="wrapper">
        <div class="error_section container dFont">
            <h1>Error</h1>
            <h2>{{ text }}</h2>
            <a href="/" class="btn">RETURN</a>
        </div>
    </div>
</body>
</html>